
/*text align*/
.TC{
  text-align: center;
}
.TR{
  text-align: right;
}
h1, h2{
  font-weight: 900;
  color: #333;
  margin: 1.5em 0 0.5em;
}
/*crs-img*/
.crs-img{
  height: 300px;
  margin: 0 auto;
}
/*footer*/
.footerWrapper{
  width: 100%;
  background: #455A64;
  color: white;
  left: 0;
  bottom: 0;
}
.emphasis{
  font-size: 2em;
}
