@font-face {
  font-family: Edelsans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/edelsans_regular-webfont.woff);
}
/*text align*/
.TC{
  text-align: center;
}
.TR{
  text-align: right;
}
h1, h2{
  font-weight: 900;
  color: #333;
  margin: 1.5em 0 0.5em;
}
/*crs-img*/
.crs-img{
  width: 100%;
  object-fit: contain;
}
.error{
  
}
/*footer*/
.footerWrapper{
  width: 100%;
  background: #455A64;
  color: white;
  left: 0;
  bottom: 0;
}
.emphasis{
  font-size: 2em;
}
